LOG_LEVEL=DEBUG
# 공인인증서 경로 HDD/USB,인증서 이름,인증서 비밀번호
CERTI_LOCATION=HDD
CERTI_USERNAME=구윤진
CERTI_PASSWORD=123
# 프로그램 경로
PROGRAM_PATH="C:\Users\user\AppData\Roaming\KSD SAFE\LauncherKSD\eSAFE2019.exe"
PROCESS_NAME=KSD.ApplicationBrowser.Shell.exe
WINDOWN_TITLE=e-SAFE
# 결과파일 저장 경로
SAVE_AS_PATH1=C:\auto_esafe\download

# SFTP 정보
SFTP_HOST=183.96.184.119
SFTP_USER=xxx
SFTP_PASS=xxx
SFTP_REMOTE_DIR=/data

# GODATA
GODATA_API_KEY=123