/* kvs 코드 블록 기본 스타일 보완 */
code.hljs.kvs {
    background: #f4f4f4;
    color: #2e2e2e;
    font-family: 'Fira Code', monospace;
    font-size: 0.95em;
    padding: 0.75em;
    border-radius: 6px;
    line-height: 1.5;
  }
  
  /* 키워드 강조 */
  .hljs-keyword {
    color: #007acc;
    font-weight: bold;
  }
  
  /* 리터럴 강조 (True/False/None) */
  .hljs-literal {
    color: #aa3731;
  }
  
  /* 문자열 */
  .hljs-string {
    color: #038200;
  }
  
  /* 숫자 */
  .hljs-number {
    color: #1c00cf;
  }
  
  /* 주석 */
  .hljs-comment {
    color: #999988;
    font-style: italic;
  }
  /** 기본 명령어 **/
  .hljs-basic-command {
    color: #e06c75; /* 빨간색 */
  }