pytest
pyautogui
opencv-python
psutil
python-dotenv
screeninfo
pywin32
requests
keyboard
xlrd 
openpyxl
Pillow
pywinauto
pytest-asyncio
pyinstaller
pyyaml
mkdocs 
mkdocs-material
pymysql
psycopg2
paramiko
easyocr
selenium
webdriver-manager
xmltodict