#-------------------------------------------------
# Data Foler
#-------------------------------------------------
DATA_FOLDER=/root/data

#-------------------------------------------------
# Log Folder Base
#-------------------------------------------------
LOG_FOLDER_BASE=/root/logs/asset-bat

#-------------------------------------------------
# SFTP 정보
#-------------------------------------------------
SFTP_HOST=183.96.184.119
SFTP_USER=esafe
SFTP_PASS=e!!safe
SFTP_REMOTE_DIR=/data