#-------------------------------------------------
# Data Foler
#-------------------------------------------------
DATA_FOLDER=/root/data

#-------------------------------------------------
# Log Folder Base
#-------------------------------------------------
LOG_FOLDER_BASE=/root/logs/asset-bat

#-------------------------------------------------
# SFTP 정보
#-------------------------------------------------
SFTP_HOST=
SFTP_USER=
SFTP_PASS=
SFTP_REMOTE_DIR=/data